<%= form_for @post do |f| %>

<%= render 'shared/error', :object => @post %>

<div class="form">
  <%= f.select :privacy, Post.privacies.keys.map {|k| [k, k]} %>
</br>
  <%= f.text_area :body %>
</br>
  <%= f.fields_for :post_images do |pi| %>
    <%= pi.file_field :image, accept: 'image/jpeg,image/gif,image/png' %></br>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
</div>
<% end %>
