<h1> Time Line </h1>
<%= render 'form' %>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.user.name, user_path(post.user) %>
    <%= post.created_at %>
    (<%= post.privacy %>)
    <% if current_user.id == post.user_id %>
    <%= link_to '[Edit privacy]', edit_post_path(post) %>
    <% end %><br>
    <%= post.body %><br>
    <% post.post_images.each do |image| %>
    <%= image_tag(image.image_url) %>
    <% end %><br>
    <%= link_to '[View detail]', post_path(post) %>
  </li>
  <% end %>
</ul>
