<h1> Time Line </h1>
<%= render 'form' %>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.user.name, user_path(post.user) %>
    (<%= post.privacy %>)
    <% if current_user.id == post.user_id %>
    <%= link_to '[Edit privacy]', edit_post_path(post) %>
    <% end %><br>
    <%= post.body %><br>
    <%= link_to '[View details]', post_path(post) %>
    <!-- <% if current_user.id != post.user_id %>
    ここにlikeボタン
    <% end %> -->
  </li>
  <% end %>
</ul>
