<ul>
  <% @comments.each do |comment| %>
  <li>
    <%= link_to comment.user.name, user_path(comment.user) %>
    <%= comment.created_at %><br>
    <%= comment.comment %><br>
    <% comment.comment_images.each do |image| %>
    <%= image_tag(image.image_url) %>
    <% end %><br>
    <%= link_to '[View Post]', post_path(comment.post) %>
  </li>
  <% end %>
</ul>
